# Python
__pycache__/
*.py[cod]
*.pyc
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Uploads
uploads/

# Render specific
render.yaml

# OS files
.DS_Store

# Virtual environment
.venv/
