{% extends 'base.html' %}
{% load static %}

{% block title %}Curator Dashboard - AI Failure Museum{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/mainButtons.css' %}">
{% endblock %}

{% block content %}
<div class="titleContainer">
    <div class="titleBarContainer">
        <div class="curatorTitle">
            <div class="centredCuratorTitle">
                <a href="/"><button>← Back home</button></a>
                <h1><strong>Dashboard</strong></h1>
                <p>Welcome, {{ user.username|default:"_username_" }}</p>
            </div>
        </div>

        {% if user.is_staff %}
        <div class="buttons">
            <a href="{% url 'analytics_dashboard' %}">
                <button class="exploreBtn" style="margin-right: 12px; background: var(--surface-color); color: var(--accent3-color); border: 1px solid #dadce0;">Analytics</button>
            </a>
            <a href="/curator/create/">
                <button class="exploreBtn">Create New Exhibit</button>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="pageErrors">
        {% if messages %}
        {% for message in messages %}
        <div class="message {% if message.tags == 'error' %}error{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>


    {% if user.is_staff %}
    <div class="dashboardContent">
        <div class="filterDiv">
            <p>Filter By: </p>
            <form method="GET" action="/curator/dashboard/" class="filterForm" id="filterForm">
                <select name="category" class="categoryFilter">
                    <option value="">Categories(All)</option>
                    {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                    {% endfor %}
                </select>

                <select name="status" class="statusFilter">
                    <option value="">Statuses(All)</option>
                    <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>Active Only</option>
                    <option value="archived" {% if request.GET.status == 'archived' %}selected{% endif %}>Archived Only</option>
                </select>

                <a href="{% url 'curator_dashboard' %}" class="clearBtn">Clear</a>
            </form>
        </div>

        <script>
            // Grab the form and all select elements within it
            const filterForm = document.getElementById('filterForm');
            const selects = filterForm.querySelectorAll('select');

            // Add a listener to each dropdown
            selects.forEach(select => {
                select.addEventListener('change', () => {
                    filterForm.submit();
                });
            });
        </script>  

        <div class="listContainer">
            <div class="listHeader">
                <span><strong>Exhibit Title</strong></span>
                <span><strong>Category</strong></span>
                <span><strong>Summary</strong></span>
                <span class="actionsHeader"><strong>Actions</strong></span>
            </div>

            {% for exhibit in active_exhibits %}
            <div class="exhibitBox">
                <span class="exhibitTitle">{{ exhibit.title|truncatewords:4 }}</span>
    
                <span class="exhibitCategory">
                    {% if exhibit.category %}{{ exhibit.category.name|truncatewords:2 }}{% else %}-{% endif %}
                </span>
    
                <span class="exhibitSummary">{{ exhibit.description|truncatewords:10 }}</span>

                <div class="exhibitActions">
                    <a href="{% url 'edit_exhibit' exhibit.id %}">
                        <button class="iconBtn"><h1>✎</h1><p>Edit</p></button>
                    </a>
                    <form method="post" action="{% url 'toggle_bookmark' exhibit.id %}">
                        {% csrf_token %}
                        <button type="submit" class="iconBtn"><h1>★</h1><p>Bookmark</p></button>
                    </form>
                    <form method="post" action="{% url 'toggle_archive_exhibit' exhibit.id %}">
                        {% csrf_token %}
                        <button type="submit" class="iconBtn"><h1>🗃</h1><p>Archive</p></button>
                    </form>
                    <form method="post" action="{% url 'delete_exhibit' exhibit.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn iconBtn" onclick="return confirm('Delete?')"><h1>🗑</h1><p>Delete</p></button>
                    </form>
                    <a href="/exhibit/{{ exhibit.id }}/">
                        <button class="iconBtn"><h1>👁</h1><p>View</p></button>
                    </a>
                </div>
            </div>
            {% empty %}
            <p class="emptyMsg">No exhibits yet. Create one to get started!</p>
            {% endfor %}

            {% for exhibit in archived_exhibits %}
            <div class="exhibitBox">
                <span class="exhibitTitle">*{{ exhibit.title|truncatewords:4 }}</span>
    
                <span class="exhibitCategory">
                    {% if exhibit.category %}{{ exhibit.category.name|truncatewords:2 }}{% else %}-{% endif %}
                </span>
    
                <span class="exhibitSummary">{{ exhibit.description|truncatewords:10 }}</span>

                <div class="exhibitActions">
                    <a href="{% url 'edit_exhibit' exhibit.id %}">
                        <button class="iconBtn"><h1>✎</h1><p>Edit</p></button>
                    </a>
                    <form method="post" action="{% url 'toggle_bookmark' exhibit.id %}">
                        {% csrf_token %}
                        <button type="submit" class="iconBtn"><h1>★</h1><p>Bookmark</p></button>
                    </form>
                    <form method="post" action="{% url 'toggle_archive_exhibit' exhibit.id %}">
                        {% csrf_token %}
                        <button type="submit" class="iconBtn"><h1>🗃</h1><p>Unarchive</p></button>
                    </form>
                    <form method="post" action="{% url 'delete_exhibit' exhibit.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn iconBtn" onclick="return confirm('Delete?')"><h1>🗑</h1><p>Delete</p></button>
                    </form>
                    <a href="/exhibit/{{ exhibit.id }}/">
                        <button class="iconBtn"><h1>👁</h1><p>View</p></button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <div class="dashboardContent">
        <div class="listContainer">
            <div class="listHeader">
                <span><strong>My Bookmarked Exhibits</strong></span>
                <span><strong>Category</strong></span>
                <span><strong>Summary</strong></span>
                <span class="actionsHeader"><strong>Actions</strong></span>
            </div>

            {% if user.is_authenticated %}
                {% for exhibit in bookmarked_exhibits %}
                <div class="exhibitBox">
                    <span class="exhibitTitle">{{ exhibit.title|truncatewords:4 }}</span>

                    <span class="exhibitCategory">
                        {% if exhibit.category %}{{ exhibit.category.name|truncatewords:2 }}{% else %}-{% endif %}
                    </span>

                    <span class="exhibitSummary">{{ exhibit.description|truncatewords:10 }}</span>

                    <div class="exhibitActions">
                        <form method="post" action="{% url 'toggle_bookmark' exhibit.id %}">
                            {% csrf_token %}
                            <button type="submit" class="iconBtn"><h1>☆</h1><p>Unbookmark</p></button>
                        </form>
                        <a href="{% url 'exhibit_detail' exhibit.id %}">
                            <button class="iconBtn"><h1>👁</h1><p>View</p></button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <p class="emptyMsg">You have no bookmarked exhibits yet.</p>
                {% endfor %}
            {% else %}
            <p class="emptyMsg">Login to view your bookmarked exhibits.</p>
            {% endif %}
        </div>
    </div>


    {% if user.is_authenticated %}
    <div class="dashboardContent">
        <div class="listContainer">
            <div class="listHeader">
                <span><strong>Upload Requests</strong></span>
                <span><strong>Category</strong></span>
                <span><strong>Summary</strong></span>
                <span class="actionsHeader"><strong>Actions</strong></span>
            </div>
            {% for sub in user_submissions %}
                <div class="exhibitBox">
                    <span class="exhibitTitle">{{ sub.title|truncatewords:4 }}</span>

                    <span class="exhibitCategory">
                        {% if exhibit.category %}{{ sub.category.name|truncatewords:2 }}{% else %}-{% endif %}
                    </span>

                    <span class="exhibitSummary">{{ sub.description|truncatewords:10 }}</span>

                    <div class="exhibitActions">
                    </div>
                </div>
                {% empty %}
                <p class="emptyMsg">No submissions yet.</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


