{% extends 'base.html' %}
{% load static %}

{% block title %}About - AI Failure Museum{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/mainButtons.css' %}">
{% endblock %}

{% block content %}
<div class="titleContainer">
    <div class="title">
        <a href="/"><button>← Back Home</button></a>
        <h1><strong>About the Museum</strong></h1>
    </div>
</div>

<div class="sect">
    <h2>What is this website?</h2>
    <div class="section">
        <p>This is the COM2020 AI Failure Museum, a project created by Team HL. Our mission is to provide an engaging platform for showcasing AI failures, offering a dedicated space for people to learn from and discuss the mistakes and limitations of AI systems.</p>
    </div>

    <h2>What can you find here?</h2>
    <div class="section">
        <p>We have categorized our exhibits into five distinct areas: Environmental, Social, Technical, Ethical, and Economic. Each exhibit provides information on how and why an incident happened, the lessons learned, and how to prevent similar failures in the future. To encourage engagement, every exhibit is linked to interactive quizzes. We strive to provide unbiased, honest information with clear analysis and educational insight. This site is designed for all visitors, whether they are children learning the consequences of relying too heavily on AI or policymakers reviewing what to avoid.</p>
    </div>
</div>
{% endblock %}
