{% extends 'base.html' %}
{% load static %}

{% block title %}About - AI Failure Museum{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/mainButtons.css' %}">
{% endblock %}

{% block content %}
<div class="titleContainer">
    <div class="title">
        <a href="/"><button>← Back Home</button></a>
        <h1><strong>About the Museum</strong></h1>
    </div>
</div>

<div class="sect">
    <h2>What is this website?</h2>
    <div class="section">
        <p>This is the COM2020 AI Failure Museum project Website, made by Team HL. Our goal was to follow the specification and create an engaging platform for showcasing AI failures. We are trying to provide a space for people to learn from and discuss the mistakes and limitations of AI systems.</p>
    </div>
    <h2>What can you find here?</h2>
    <div class="section">
        <p>We have created five categories of AI failures to sort the exhibits into; Enviromental, Social, Technical, Ethical, and Economic. Each exhibit belongs to a category and contains informtation about how and why the incident happened, what we learned from it, and how we can prevent similar failures in the future. They also are linked to one or more quizzes each, to promte engagement. We have strived to provide unbiased, honest information with clear analysis of what happened and an educational insight into how to avoid a similar occurrence in the future. This site is meant for all visitors, wether that be children learning the consequences of relying too heavily on AI, or policy makers reviewing what to avoid. </p>
    </div>

</div>
{% endblock %}
