<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}AI Failure Museum{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href={% static "css/variables.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/components/header.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/components/footer.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/components/categorybar.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/pages/base.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/components/mainButtons.css" %}>

    <!-- Very awesome font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
     <main class="app">
        <header class="appHeader">
            <div class="leftItems">
                <div class="points">
                    <span>⭐{{ user_points }} Points</span>
                </div>

                <form action="/search/" method="get" class="searchContainer">
                    <div class="searchWrapper">
                        <span class="searchIcon">🔍</span>
                        <input type="search" name="q" placeholder="Search..." aria-label="Search">
                    </div>
                </form>
            </div>
            
            <div class="rightItems">
                <a href = "/about" class="secondaryBtn">
                    About
                </a>
                <a href = "/search" class="secondaryBtn">
                    Explore
                </a>
                <a href = "" class="secondaryBtn">
                    Submit Failure
                </a>
                {% if user.is_superuser%}
                    <a href="/admin/" class="secondaryBtn">
                        Admin
                    </a>
                {% endif %}

                {% if user.is_authenticated %}
                <form method="post" action="/logout/">
                    {% csrf_token %}
                    <a type="submit" class="secondaryBtn">Logout</a>
                </form>
                {% else %}
                <a href = "/login" class="primaryBtn">
                    Log In
                </a>
                {% endif %}
                {% if user.is_staff %}
                <a href="/curator/dashboard/" class="primaryBtn">
                    Dashboard
                </a>
                {% endif %}
            </div>
        </header>
    
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    {% block content %}{% endblock %}

    <div class="appFooter">
            <p class="footerText">Copyright © 2026 Ai Museum All rights reserved.</p>
            <div class="rightItemsFooter">
                <a href="/privacy/">
                    <button class="footerBtn">Terms of Service</button>
                </a>
                <a href="/privacy/">
                    <button class="footerBtn">Privacy Policy</button>
                </a>
                <a href="/privacy/">
                    <button class="footerBtn">Accesability</button>
                </a>
            </div>
        </div>
    </body>
</html>