<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}AI Failure Museum{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>

    <!-- Very awesome font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
     <main class="app">
        <header class="appHeader">
            <div class="leftItems">
                <div class="points">
                    <span>⭐{{ user_points }} Points</span>
                </div>

                <form action="/search/" method="get" class="searchContainer">
                    <div class="searchWrapper">
                        <span class="searchIcon">🔍</span>
                        <input type="search" name="q" placeholder="Search..." aria-label="Search">
                    </div>
                </form>
            </div>
            
            <div class="rightItems">
                <a href = "/about">
                    <button class="reportBtn">
                        About
                    </button>
                </a>
                <a href = "/search">
                    <button class="reportBtn">
                        Explore
                    </button>
                </a>
                <a href = "">
                    <button class="reportBtn">
                        Submit Failure
                    </button>
                </a>
                <a href = "/">
                    <button class="reportBtn">
                        Home
                    </button>
                </a>
                {% if user.is_superuser%}
                    <a href="/admin/">
                        <button class="reportBtn">Admin</button>
                    </a>
                {% endif %}

                {% if user.is_authenticated %}
                <form method="post" action="/logout/">
                    {% csrf_token %}
                    <button type="submit" class="reportBtn">Logout</button>
                </form>
                {% else %}
                <a href = "/login">
                    <button class="loginBtn">
                        Log In
                    </button>
                </a>
                {% endif %}
                {% if user.is_staff %}
                <a href="/curator/dashboard/">
                    <button class="loginBtn">Dashboard</button>
                </a>
                {% endif %}
            </div>
        </header>
    
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    {% block content %}{% endblock %}

    <div class="appFooter">
            <t class="copyrightText">Copyright © 2026 Ai Museum All rights reserved.</t>
            <div class="rightItemsFooter">
                <a href="/privacy/">
                    <button class="privacyBtn">Terms of Service</button>
                </a>
                <a href="/privacy/">
                    <button class="privacyBtn">Privacy Policy</button>
                </a>
                <a href="/privacy/">
                    <button class="privacyBtn">Accesability</button>
                </a>
            </div>
        </div>
</body>
</html>