{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }} - AI Failure Museum{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/category.css' %}">
{% endblock %}

{% block content %}
<div class="titleContainer">
    <div class="categoryBarWrapper">
        <div class="categoryBar">
            {% for cat in categories %}
            <a href="/category/{{ cat.slug }}/">
                <article class="{% if cat.slug == category.slug %}activeCategoryButton{% else %}categoryButton{% endif %}">
                    <t>{{ cat.name }} +</t>
                </article>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="title">
        <a href="/"><button>← Back Home</button></a>
        <h1><strong>{{ category.name }}</strong></h1>
        <p>{{ category.description }}</p>
    </div>
</div>

<div class="mostViewedContainer">
    <div class="image">
        <img src={% static 'images/categories/'|add:category.slug|add:'.png' %} alt="Space">
    </div>
    <div class="mostViewed">
        <h2>Most Viewed</h2>
        <div class="mostViewedGrid">
            {% for failure in top_three %}
            <a class="mostViewedCard" href="{% url 'exhibit_detail' failure.id %}">
                <h3>{{ failure.title }}</h3>
                <p>{{ failure.description }}</p>
                <div class="views">👁️ {{ failure.view_count }} views</div>
            </a>
            {% endfor %}
        </div>  
    </div>
</div>

<div class="allDiv">
    <h2>All</h2>
    <div class="allGrid">
        {% for exhibit in everything_else %}
        <a class="failureCard" href="{% url 'exhibit_detail' exhibit.id %}">
            <h3>{{ exhibit.title }}</h3>
            <p>{{ exhibit.description }}</p>
            <div class="views">👁️ 0 views</div>
        </a>
        {% endfor %}
    </div> 
</div>
{% endblock %}