<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AI Failure Museum</title>

    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>

    <!-- Very awesome font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <main class="app">
        <header class="appHeader">
            <div class="leftItems">
                <div class="points">
                    <span>⭐{{ user_points }} Points</span>
                </div>

                <form action="/search/" method="get" class="searchContainer">
                    <div class="searchWrapper">
                        <span class="searchIcon">🔍</span>
                        <input type="search" name="q" placeholder="Search..." aria-label="Search">
                    </div>
                </form>
            </div>
            
            <div class="rightItems">
                <a href = "/about">
                    <button class="reportBtn">
                        About
                    </button>
                </a>
                <a href = "/search">
                    <button class="reportBtn">
                        Explore
                    </button>
                </a>
                <a href = "">
                    <button class="reportBtn">
                        Submit Failure
                    </button>
                </a>
                {% if user.is_superuser%}
                    <a href="/admin/">
                        <button class="reportBtn">Admin</button>
                    </a>
                {% endif %}

                {% if user.is_authenticated %}
                <form method="post" action="/logout/">
                    {% csrf_token %}
                    <button type="submit" class="reportBtn">Logout</button>
                </form>
                {% else %}
                <a href = "/login">
                    <button class="loginBtn">
                        Log In
                    </button>
                </a>
                {% endif %}
                {% if user.is_staff %}
                <a href="/curator/dashboard/">
                    <button class="loginBtn">Dashboard</button>
                </a>
                {% endif %}
            </div>
        </header>


        <div class="titleContainer">
            <div class="categoryBarWrapper">
                <div class="categoryBar">
                    {% for cat in categories %}
                    <a href="/category/{{ cat.slug }}/" class="categoryLink">
                        <article class="categoryButton">
                            <t>{{ cat.name }} +</t>
                        </article>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="titleVideoContainer">
                <div class="title">
                    <h1>AI Failure Museum</h1>

                    <p>
                        AI systems are becoming more commonly used in high-stakes contexts, but they can and do fail in ways that are harmful to people, systems, and the enviroment. The AI Failure Museum is a collection of case studies documenting real world examples of AI failures, with the goal of educating the public about the risks of depending on AI systems to make important decisions.
                    </p>
                    <div class="titleButtons">
                        <a href = "/search">
                            <button class="loginBtn">
                                Explore Database
                            </button>
                        </a>
                        <a href = "/about">
                            <button class="reportBtn">
                                About the Museum
                            </button>
                        </a>
                    </div>
                </div>
                <div class="titleVideo">

                </div>
            </div>
        </div>

        <div class="sortBar">
            <label for="category-filter" class="sortBtn">
                Filter
            </label>
        </div>


        <section class="categoryGrid">
            <!-- Loop through all data -->
            {% for cat in categories %}
            <a href="/category/{{ cat.slug }}/" class="categoryLink">
                <article class="categoryCards" style="--accent-color: {{ cat.color }};">
                    <div class="cardText">
                        <h3>{{ cat.name }}</h3>
                        <p>{{ cat.description }}</p>
                    </div>
                    <div class="icon">+</div>
                </article>
            </a>
            {% endfor %}
            <!-- Loop through end -->
        </section>


        <div class="appFooter">
            <t class="copyrightText">Copyright © 2026 Ai Museum All rights reserved.</t>
            <div class="rightItemsFooter">
                <a href="/privacy/">
                    <button class="privacyBtn">Terms of Service</button>
                </a>
                <a href="/privacy/">
                    <button class="privacyBtn">Privacy Policy</button>
                </a>
                <a href="/privacy/">
                    <button class="privacyBtn">Accesability</button>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
