.pageContent{
    background-color: var(--surface-color);
}

.createBtn {
    font-family: "Inter", sans-serif;
    background-color: var(--accent3-color);
    color: var(--main-txt);
    border: none;
    border-radius: 999px;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.2s;
}

.createBtn:hover {
    box-shadow: var(--shadow-md);
     filter: brightness(1.15);
}

.createBtn:active {
    transform: translateY(0);
}


.titleBarContainer{
    margin: 3rem 0 2rem;
    display: flex;
    gap: 2rem;
    align-items: stretch;
}

.buttons{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.dashboardContent {
    background-color: var(--surface-color);
    
    border-radius: 16px;
    
    padding: 8px 0; 
    
    overflow: hidden;
    
    box-shadow: var(--shadow-md)
}

.curatorTitle {
    max-width: 720px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.curatorTitle h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    letter-spacing: -0.02em;
}

.curatorTitle p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--body-txt);
    max-width: 560px;
    margin: 0;
    padding-bottom: 1rem;
}



.listHeader {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1.5fr; 
    padding: 12px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.listHeader span {
    font-family: 'Inter', sans-serif;
    color: var(--main-txt);
    font-size: 16px;
    letter-spacing: 0.05em;
}

.exhibitBox {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1.5fr;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.2s ease;
}

.exhibitBox:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.exhibitTitle {
    color: var(--main-txt);
}

.exhibitCategory, .exhibitSummary {
    color: var(--secondary-txt);
}

.exhibitActions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.iconBtn {
    font-family: 'Inter', sans-serif;
    background: transparent;
    border: 1px solid var(--outline-color);
    color: var(--main-txt);
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.2s;
    border-radius: 999px;
}

.iconBtn h1{
    color: var(--accent2-color);
    margin: 0rem 0rem;
    font-size: 1.25rem;
    transition: transform 0.1s ease, color 0.2s;
}

.iconBtn p{
    margin: 0rem 0rem;
    font-size: 10px;
}

.iconBtn:hover {
    box-shadow: var(--shadow-md);
    filter: brightness(1.3);
}


.actionsHeader {
    text-align: right;
}