.registeration_containerr{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}
.registeration_card{
    border: 1px solid #dadce0;
    background-color: var(--bg-color);
    border-radius: 16px;
    padding: 48px 40px;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: var(--shadow-sm);
}
.registeration_card h1{
    font-family: 'inter';
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-txt);
}
.appHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
}
.loginBtn{
    background-color: var(--surface-color);
    color: var((--main-txt));
    border: 1px solid #dadce0;
    border-radius: 999px ;
    font-size: 14px;
    padding: 8px 18px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease;
}
.loginBtn:hover{
    background-color: var(--accent2-color);
    border-color: var(--accent2-color);
}
.form_body p{
    position: relative;
    margin-top: 25px;
    text-align: left;
}
.form_body_label{
    display: block;
    font-size: 18px;
    color: var(--main-txt);
    margin-bottom: 8px;
    font-weight: 500;
    font-family: 'Inter';
}
.form_body input{
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
    color: var(--body-tx, #3c4043);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease;
}
.form_body input:hover{
    border: 1px solid var(--accent2-color);
}
.form_body input:focus{
    outline: none;
    border: 1px solid var(--accent2-color);
}